body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
 
}

.app {
  max-width: 600px;
  margin: 0 auto 300px;
  padding: 20px 30px;
  background-color: rgb(142, 196, 243);
  border-radius: 10px;
}

h1{
  text-align: center;
}
p{
  margin: 0;
}

input{
  box-sizing: border-box;
}

